/node_modules
/public/hot
/public/storage
/public/admin/bower_components
/public/kcfinder
/.settings
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
